.blue {
  color: #1677ff !important;

  input {
    color: #1677ff !important;
  }
}

.red {
  color: #ff4d4f !important;

  input {
    color: #ff4d4f !important;
  }
}

.highlight {
  background-color: #fff566;
  padding: 2px 4px;
  border-radius: 4px;
  transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
